<footer class="bg-bookmark-blue py-16">
  <div class="container flex flex-col md:flex-row items-center">
    <div
      class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12"
    >
      <div class="text-white ">&#169; All Rights Reserved</div>
    </div>
    <ul class="flex gap-10 mt-12 md:mt-0">
      <li>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://github.com/oktoala/siauto-desktop"
        >
          <i class="text-white text-2xl fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="/">
          <i class="text-white text-2xl fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
